.PageLoader {
	min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.PageLoader.desktop {
	margin-left: var(--sidepanel-width);
}
