.Button {
	cursor: pointer;
	padding: 6px 15px;
}

.navPanel {

}

.ghost,
.ghostInverted {
	border: none;
	background: none;
	outline: none;
}

.ghostInverted {
	color: var(--inverted-primary-color);
}

.outline {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background: none;
}

.disabled {
	opacity: 0.5;
}

.fullWidth {
	width: 100%;
}
