.Logo.big {
	margin-top: 10px;
	width: 100%;
}

.Logo {
	margin-left: auto;
	margin-right: auto;
}

.clickable {
	cursor: pointer;
	transition: ease-out 1s;
	&:hover {
		box-shadow: 0 0 3px lightgray;
		transition: ease-in 300ms;
	}
}
