.app_dark_theme {
	--primary-color: #2eacf4;
	--on-primary-color: #001425;
	--primary-container-color: #f5f7f9;
	--on-primary-container-color: #576375;
	--primary-fixed-color: #c8b3fd;
	--on-primary-fixed-color: #4f378b;
	--secondary-color: #84c3e7;
	--on-secondary-color: #014361;
	--secondary-container-color: #e8def8;
	--on-secondary-container-color: #4a4458;
	--secondary-fixed-color: #eaddff;
	--on-secondary-fixed-color: #4f378b;
	--tertiary-color: #6e6d55ff;
	--on-tertiary-color: #3989AFFF;
	--tertiary-container-color: #fffcf2;
	--on-tertiary-container-color: #191918;
	--tertiary-fixed-color: #eaddff;
	--tertiary-fixed-dim-color: #ffc700;
	--on-tertiary-fixed-color: #4f378b;
	--attention-color: #ffc700;
	--attention-container-color: #fffcf2;
	--on-attention-color: #191918;
	--error-color: #b3261e;
	--on-error-color: #fff;
	--error-container-color: #f9dedc;
	--on-error-container-color: #8c1d18;
	--surface-color: #000e1a;
	--on-surface-color: #2eabf2;
	--on-surface-variant-color: #504d4d;
	--surface-dim-color: #141218;
	--inverse-surface-color: #24292d;
	--inverse-on-surface-color: #187468;
	--inverse-primary-color: #d0bcfe;
	--surface-container-low-color: #011b33;
	--surface-container-color: #002649;
	--surface-container-high-color: #213C72FF;
	--outline-color: #79747e;
	--outline-variant-color: #cac4d0;
}
