.app_light_theme {
	--primary-color: #187468;
	--on-primary-color: #F5EFF7;
	--primary-container-color: #f5f7f9;
	--on-primary-container-color: #576375;
	--primary-fixed-color: #c8b3fd;
	--on-primary-fixed-color: #4F378B;

	--secondary-color: #e5f6fd;
	--on-secondary-color: #014361;
	--secondary-container-color: #E8DEF8;
	--on-secondary-container-color: #4A4458;
	--secondary-fixed-color: #EADDFF;
	--on-secondary-fixed-color: #4F378B;

	--tertiary-color: #6E6D55FF;
	--on-tertiary-color: #e7f6ef;
	--tertiary-container-color: #fffcf2;
	--on-tertiary-container-color: #191918;
	--tertiary-fixed-color: #EADDFF;
	--tertiary-fixed-dim-color: #FFC700;
	--on-tertiary-fixed-color: #4F378B;

	--attention-color: #FFC700;
	--attention-container-color: #FFFCF2;
	--on-attention-color: #191918;

	--error-color: #B3261E;
	--on-error-color: #FFFFFF;
	--error-container-color: #F9DEDC;
	--on-error-container-color: #8C1D18;

	--surface-color: #f5f7f9;
	--on-surface-color: #4A4458;
	--on-surface-variant-color: #49454f;
	--surface-dim-color: #ded8e1;
	--inverse-surface-color: #D6F5E7;
	--inverse-on-surface-color: #187468;
	--inverse-primary-color: #d0bcfe;

	--surface-container-low-color: #ffffff;
	--surface-container-color: #f2ecf4;
	--surface-container-high-color: #E7F6EF;

	--outline-color: #79747e;
	--outline-variant-color: #cac4d0;

}
