.app_light_theme {
	--primary-color: #187468;
	--on-primary-color: #f5eff7;
	--primary-container-color: #f5f7f9;
	--on-primary-container-color: #576375;
	--primary-fixed-color: #c8b3fd;
	--on-primary-fixed-color: #4f378b;
	--secondary-color: #e5f6fd;
	--on-secondary-color: #014361;
	--secondary-container-color: #e8def8;
	--on-secondary-container-color: #4a4458;
	--secondary-fixed-color: #eaddff;
	--on-secondary-fixed-color: #4f378b;
	--tertiary-color: #6e6d55ff;
	--on-tertiary-color: #e7f6ef;
	--tertiary-container-color: #fffcf2;
	--on-tertiary-container-color: #191918;
	--tertiary-fixed-color: #eaddff;
	--tertiary-fixed-dim-color: #ffc700;
	--on-tertiary-fixed-color: #4f378b;
	--attention-color: #ffc700;
	--attention-container-color: #fffcf2;
	--on-attention-color: #191918;
	--error-color: #b3261e;
	--on-error-color: #fff;
	--error-container-color: #f9dedc;
	--on-error-container-color: #8c1d18;
	--surface-color: #f5f7f9;
	--on-surface-color: #4a4458;
	--on-surface-variant-color: #49454f;
	--surface-dim-color: #ded8e1;
	--inverse-surface-color: #d6f5e7;
	--inverse-on-surface-color: #187468;
	--inverse-primary-color: #d0bcfe;
	--surface-container-low-color: #fff;
	--surface-container-color: #f2ecf4;
	--surface-container-high-color: #e7f6ef;
	--outline-color: #79747e;
	--outline-variant-color: #cac4d0;
}
